.movies-list {
  list-style-type: none;
  margin: 0 0 50px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 38px 20px;
}

@media (max-width: 900px) {
  .movies-list {
    gap: 30px;
  }
}

@media (max-width: 630px) {
  .movies-list {
    gap: 34px;
    grid-template-columns: repeat(auto-fill, minmax(270px, 460px));
    justify-content: center;
  }
}