.page__content {
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 18px 40px;
  font-family: 'Inter';
}

/* * {
  outline: 1px solid red;
} */