.search {
  display: flex;
  position: relative;
}

.page__search {
  margin-top: 42px;
  padding: 0 30px;
}

.search__label {
  width: 100%;
}

.search__input {
  width: 100%;
  box-sizing: border-box;
  padding: 14px 84px 14px 22px;
  background-color: #F4F4F4;
  border: none;
  border-radius: 40px;
  font-weight: 400;
  font-size: 13px;
  line-height: 131%;
}

.search__input:focus {
  outline: 1px solid #3456F3;
}

.search__input::placeholder {
  color: #A0A0A0;
  opacity: 1;
}

.search__input::-webkit-placeholder {
  color: #A0A0A0;
  opacity: 1;
}

.search__input::-ms-input-placeholder {
  color: #A0A0A0;
  opacity: 1;
}

.search__input::-moz-placeholder {
  color: #A0A0A0;
  opacity: 1;
}

.search__btn {
  position: absolute;
  top: 6px;
  right: 6px;
  background-color: #3456F3;
  border: none;
  border-radius: 48px;
  box-sizing: border-box;
  padding: 8px 10.35px;
  font-weight: 500;
  font-size: 11px;
  line-height: 164%;
  color: #fff;
  min-width: 58.65px;
}