.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.page__header {
  margin: 0 0 38px;
}

.header__container {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header__link {
  color: #000;
  text-decoration: none;
  box-sizing: border-box;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
}

.header__link_color_blue {
  padding: 8px 20px;
  border-radius: 3px;
  transition: border .3s;
  color: #fff;
  background-color: #3456F3;
}

.button {
  transition: opacity .3s
}

.button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.links__item {
  text-decoration: none;
  color: #000;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 138%;
}

.links__item:not(:last-of-type) {
  margin-right: 16px;
}

.links__item_active {
  font-weight: 500;
}

.profile-btn {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
}

.profile-btn__text {
  margin: 0 17px 0 0;
  padding: 7px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 114%;
}

.profile-btn__icon {
  box-sizing: border-box;
  padding: 8px 7.25px;
  background-color: #F4F4F4;
  border-radius: 4px;
}

@media (max-width: 1200px) {
  .header {
    padding: 0;
  }

  .page__header {
    margin: 0 0 41px;
  }
}

@media (max-width: 768px) {
  .links {
    display: none;
  }

  .profile-btn {
    display: none;
  }
}


@media (max-width: 590px) {
  .header__link {
    font-size: 10px;
    line-height: 160%;
  }

  .header__container {
    gap: 14px
  }

  .page__header {
    margin: 0 0 32px;
  }
}