.page__project {
  margin: 0 0 110px;
}

.project__subtitle {
  margin: 0 0 70px;
}

.project__list {
  margin: 0 0 110px;
  padding: 0;
}

.result {
  display: flex;
  list-style-type: none;
}

.result__item:not(:last-child) {
  margin-right: 40px;
}

.result__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
  margin: 0 0 26px;
}

.result__text {
  margin: 0;
}

.text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
}

.project__stages {
  display: grid;
  grid-template-columns: minmax(95px, 20%) minmax(95px, 1fr);
  grid-template-rows: 36px 17px;
  gap: 14px 0; 
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

.project__time {
  margin: 0;
  font-weight: 400;
  box-sizing: border-box;
  padding: 9px 0;
}

.project__time_color_blue {
  min-width: fit-content;
  background-color: #3456F3;
  color: #fff;
}

.project__time_color_grey {
  background-color: #F2F2F2;
}

.project__dev {
  margin: 0;
  color: #A0A0A0;
}

@media (max-width: 900px) {
  .page__project {
    margin: 0 0 90px;
  }

  .result__subtitle {
    margin: 0 0 22px;
  }

  .result__text {
    font-size: 12px;
    line-height: 150%;
  }

  .result__item:not(:last-child) {
    margin-right: 30px;
  }

  .project__list {
    margin: 0 0 93px;
  }
}

@media (max-width: 590px) {
  .page__project {
    margin: 0 0 70px;
  }

  .project__subtitle {
    margin: 0 0 60px;
  }

  .result {
    flex-direction: column;
  }

  .result__item {
    width: 100%;
    margin: 0 0 56px;
  }

  .result__item:last-of-type {
    margin: 0;
  }

  .result__subtitle {
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 16px;
  }

  .text {
    font-size: 11px;
    line-height: 145%;
  }

  .project__list {
    margin: 0 0 60px;
  }

  .project__time {
    font-size: 11px;
    line-height: 13px;
  }

  .project__stages {
    gap: 10px 0;
  }

  .project__dev {
    font-size: 11px;
    line-height: 13px;
  }
}
