.techs {
  padding: 100px 0;
  background-color: #F5F5F5;
}

.page__techs {
  margin: 0 0 110px;
}

.techs__title {
  margin: 0 0 90px;
}

.techs__subtitle {
  max-width: 600px;
  margin: 0 auto 23px;
  font-weight: 400;
  font-size: 50px;
  line-height: 116%;
  letter-spacing: -0.04em;
  text-align: center;
}

.techs__text {
  max-width: 460px;
  margin: 0 auto 103px;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  text-align: center;
}

.techs__list {
  max-width: 690px;
  margin: 0 auto;
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.techs__item {
  min-width: 90px;
  background-color: #E8E8E8;
  border-radius: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: -0.04em;
  box-sizing: border-box;
  padding: 22px 0;
}

@media (max-width: 900px) {
  .techs {
    padding: 90px 0;
  }

  .page__techs {
    margin: 0 0 90px;
  }

  .techs__title {
    margin: 0 0 80px;
  }

  .techs__subtitle {
    margin: 0 auto 22px;
  }

  .techs__text {
    margin: 0 auto 83px;
  }

  .techs__item {
    min-width: 84px;
    font-size: 12px;
    line-height: 15px;
    padding: 21px 0;
  }
}

@media (max-width: 590px) {
  .techs {
    padding: 70px 0;
    background-color: inherit;
  }

  .page__techs {
    margin: 0 0 70px;
  }

  .techs__subtitle {
    font-size: 30px;
    line-height: 36px;
    margin: 0 0 24px;
  }

  .techs__text {
    font-size: 11px;
    line-height: 145%;
    margin: 0 auto 50px;
  }

  .techs__list {
    max-width: 178px;
    justify-content: flex-start
  }
}