.nav {
}

.nav__list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav__item {
  min-width: 96px;
  background-color: #E8E8E8;
  border-radius: 10px;
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
}

.nav__item:not(:last-child) {
  margin-right: 10px;
}

.nav__item-link {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  text-decoration: none;
  color: #000000;
}